body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
header {
    background-color: #78eedf;
    color: rgb(11, 11, 11);
    padding: 1rem;
    width: 100%;
}

/* tap 3 tap */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
nav ul li {
    flex: 1;
    text-align: center;
}
nav ul li.left {
    text-align: left;
}
nav ul li.right {
    text-align: right;
}
nav ul li a {
    color: rgb(9, 9, 9);
    text-decoration: underline;
    font-weight: bold;
}

main {
    padding: 20px;
}
footer {
    background-color:#78eedf;
    color: rgb(15, 15, 15);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
